In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [2]:
df = pd.read_excel('ecom_sales.xlsx')
df = df[['Invoice', 'Description', 'Price', 'Quantity', 'Customer ID', 'Country']]
df.head()

,Invoice,Description,Price,Quantity,Customer ID,Country
0,489434,15CM CHRISTMAS GLASS BALL 20 LIGHTS,6.95,12,13085.0,United Kingdom
1,489434,PINK CHERRY LIGHTS,6.75,12,13085.0,United Kingdom
2,489434,WHITE CHERRY LIGHTS,6.75,12,13085.0,United Kingdom
3,489434,"RECORD FRAME 7"" SINGLE SIZE",2.10,48,13085.0,United Kingdom
4,489434,STRAWBERRY CERAMIC TRINKET BOX,1.25,24,13085.0,United Kingdom

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   Description  522533 non-null  object
 2   Price        525461 non-null  float64
 3   Quantity     525461 non-null  int64
 4   Customer ID  417534 non-null  float64
 5   Country      525461 non-null  object
dtypes: float64(2), int64(1), object(3)
memory usage: 24.1+ MB